* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #12344D;
  --primary: #1E81B0;
  --secondary: #27B7B7;
  --background: #FAF8F3;
  --accent: #FF7F6A;
  --white: #ffffff;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--background);
  color: var(--dark);
}

html, body {
  height: 100%;
  overflow-x: hidden;
}