* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
}

:root {
  --dark: #12344D;
  --primary: #1E81B0;
  --secondary: #27B7B7;
  --background: #FAF8F3;
  --accent: #FF7F6A;
  --white: #ffffff;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #FAF8F3;
  color: #12344D;
  padding-top: 0;
}

/* #root {
  min-height: 100vh;
} */

